/*
 * Colors:
 *  - primary #1E88E5
 */

/* Lists */
ul {
  padding: 0;
}

/* Alert */
.alert > div > p,
.alert > div > ul {
  margin-bottom: 0;
}

.alert > div > p + p {
  margin-top: 5px;
}

.alert-danger {
  background: #D32F2F;
  color: #fff;
}

/* btn-inverse styel */
.btn-inverse {
  color: #fff;
  background-color: #212121;
  border-color: #080808;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #424242;
  border-color: #212121;
}

.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #999;
  border-color: #080808;
}

.list-group-item {
  text-shadow: none;
  text-align: left;
}

.list-group-item-odd {
  background-color: #F5F5F5;
}

.form-control {
  border-color: #42A5F5;
}

.form-control:focus {
  border-color: #1976D2;
}

.label-primary {
  background-color: #42A5F5;
}

.label-domain {
  font-size: 75%;
  color: #424242;
}

.fab {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 48px;
  width: 48px;
  line-height: 48px;
  font-size: 20px;
  background: #1976D2;
  border: 1px solid #1565C0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.fab-options {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
