<!DOCTYPE html>
<html data-ng-app="delicious-fuzzy-search" data-ng-csp>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delicious Fuzzy Search</title>

    <!-- build:css styles/css/vendors.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <!-- endbuild -->
</head>
<body>

<div class="container">

    <div class="page-header">
        <h1>
            <small>Delicious Fuzzy Search</small>
        </h1>
    </div>

    <div class="panel panel-default" data-ng-controller="OptionsController">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="ion ion-ios7-gear"></span> Settings
            </h3>
        </div>
        <div class="panel-body">
            <div data-ng-show="utils.isBlank(data.username)" class="alert alert-warning">
                No user is specified. Please complete the form below.
            </div>
            <form role="form">
                <fieldset>
                    <legend>Delicious User Account</legend>
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text"
                                   id="username"
                                   placeholder="Username"
                                   data-ng-model="data.username"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password"
                                   id="password"
                                   placeholder="Password"
                                   data-ng-model="data.password"
                                   class="form-control">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" data-ng-click="save()">Save changes</button>
            <button type="button" class="btn btn-danger pull-right" data-ng-click="resetCredentials()">Reset
                credentials
            </button>
        </div>
    </div>

</div>

<!-- build:js scripts/vendors.js -->
<script src="../bower_components/fuse.js/fuse.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/momentjs/moment.js"></script>
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js scripts/app.js -->
<script src="../scripts/services/base64.js"></script>
<script src="../scripts/services/datastore.js"></script>

<script src="../scripts/app.js"></script>
<script src="../scripts/filters.js"></script>
<script src="../scripts/services/delicious.js"></script>
<script src="../scripts/controller/optionController.js"></script>

<script src="../scripts/background.js"></script>
<!-- endbuild -->

</body>
</html>