<!DOCTYPE html>
<html data-ng-app="delicious-fuzzy-search" data-ng-csp>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delicious Fuzzy Search</title>

    <!-- build:css styles/css/vendors.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.css">
    <!-- endbuild -->
</head>
<body>

<!-- build:js scripts/vendors.js -->
<script src="../bower_components/fuse.js/fuse.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/momentjs/moment.js"></script>
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js scripts/app.js -->
<script src="../scripts/app.js"></script>
<script src="../scripts/services/datastore.js"></script>
<script src="../scripts/controller/optionController.js"></script>
<!-- endbuild -->

</body>
</html>